## Only data cleaning

In [223]:
'''
Dr. Kamanasish Debnath
Postdoctoral Researcher
Wallenberg Center for Quantum Technology
Chalmers University of Technology
Gothenburg, Sweden

kamanasish.debnath@gmail.com


The data set used was collected from a research institute where the firing 
of the neurons were measured as a function of time. 

The task was to calculate the  difference between consecutive firing of
neurons if the recorded threshold was more than 0.5.

The data set included data from almost 500 neurons (columns) and 606 time
duration (rows.)

Once the delay between consecutive neuron firing is calculated for all the 
606 rows, the values were stored in another column named (original column name + 'dt')


''';

### Easy peasy lemon squeezy... done !!

### Data on firing of neurons

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy as np

tot = pd.ExcelFile("spks.xlsm")
df = pd.read_excel(tot, 'transposed')

# Extracting only the useful columns
index_last = np.where(df.columns == 'ROI512')[0][0]
neurons_columns = df.columns[1:index_last]

# Replacing all NaNs with 0, since no data means no measurement
df = df.fillna(0)
df = df.iloc[:603,:]

'''
    Step 1: For each column, separate the dateframe where the values are more
            then 0.5.
    Step 2: Create a new column and put the subtracted value (dt) for each columns
    Step 3: Put this entire into a loop which runs over all relevant columns

'''
for i in neurons_columns:
    df_temp = df[df[i]>0.5]
    df[i+'dt'] =  (df_temp['time'].shift(-1) - df_temp['time']).reset_index().drop('index', axis = 1)

df.to_csv (r'Edited_spks.csv', index = False, header=True)

In [2]:
df

,time,ROI1,ROI2,ROI3,ROI4,ROI5,ROI6,ROI7,ROI8,ROI9,...,ROI502dt,ROI503dt,ROI504dt,ROI505dt,ROI506dt,ROI507dt,ROI508dt,ROI509dt,ROI510dt,ROI511dt
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6,12,12,3,1,1,5,6,4,4
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.136205,0.000000,0.000000,...,6,1,6,2,1,11,2,1,7,6
2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.419826,0.000000,0.000000,...,4,11,1,6,5,12,16,5,5,5
3,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.229964,0.000000,0.000000,...,3,6,1,1,1,1,1,11,7,1
4,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.283678,0.000000,0.000000,...,5,9,1,9,5,5,1,1,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,598,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,599,0.000000,0.170677,0.136987,0.265528,0.000000,0.275532,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,600,1.484222,1.490947,1.568859,0.725377,1.143465,0.998744,1.282321,1.240344,1.766397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,601,0.000000,0.000000,0.000000,0.000000,0.000000,0.013688,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,602,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_temp = df[df['ROI1']>0.5]

In [7]:
(df_temp['time'].shift(-1) - df_temp['time']).reset_index()

    index time
0       6    1
1       7    5
2      12    1
3      13    5
4      18   11
..    ...  ...
76    548   10
77    558   10
78    568   18
79    586   14
80    600  NaN

[81 rows x 2 columns]